apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: medinsights
data:
  DEBUG: "True"
  SECURE_SSL_REDIRECT: "False"
  SESSION_COOKIE_SECURE: "False"
  CSRF_COOKIE_SECURE: "False"
