apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: medinsights

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

patchesStrategicMerge:
  - deployment-patch.yaml
  - configmap-patch.yaml
