apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: medinsights
data:
  DEBUG: "False"
  SECURE_SSL_REDIRECT: "True"
  SESSION_COOKIE_SECURE: "True"
  CSRF_COOKIE_SECURE: "True"
  # Production CORS should be more restrictive
  CORS_ALLOWED_ORIGINS: "https://medinsights.com,https://api.medinsights.com"
